---
layout: default
description: Bram Verbeek - Writing
title: Writing
wide: true
---
        <p><a href="index.html" class="link-blue">BACK</a></p>
{% assign languages = "EN,NL" | split: "," %}
{% for lang in languages %}
  {% assign items = site.data.works | where: "lang", lang %}
  {% if items.size > 0 %}
        <p>
        <b>{{ lang }}</b><br>
    {% for work in items %}
        <a href="{{ work.url }}" class="link-black">{{ work.title | upcase | escape }} <br class="mobile-break">&mdash; <span style="font-weight:350">{{ work.venue | escape }}, {{ work.year }}</span></a>{% unless forloop.last %}<br>{% endunless %}
    {% endfor %}
        </p>
  {% endif %}
{% endfor %}
